<div class="jumbotron">
  <div class="row">
    <div class="col-md-6">
      <div class="display-4">Welcome To</div>
      <h1 class="display-3">Welcome to AnThoi restaurant</h1>
      <p class="lead">Healthy food</p>
      <p class="lead">
        <%= link_to 'Menu', menu_path, class: 'btn btn-secondary btn-lg' %> <%=
        link_to 'Contact Us', contact_us_path, class: 'btn btn-secondary btn-lg'
        %>
      </p>
    </div>

    <div class="col-md-6 restaurant-img">
      <img src="https://loremflickr.com/320/240/restaurant" />
    </div>
  </div>
</div>
